*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
span {
    color: white;
}

#root {
    position : relative;
    min-width : 320px;
    background-color: black;
}

#contents {
    position : relative;
    min-width : 320px;
    background-color: black;
    max-width: 700px;
    margin : 0 auto;
    box-sizing: border-box;
    overflow : hidden;
    display: flex;
    flex-direction: column;
}

header {
    position : relative;
    min-width : 320px;
    background-color: black;
    display : flex;
    align-items: center;
}

header > div {
    position : relative;
    
    max-width : 800px;
    display : flex;
}

.backpage {
    margin-top: 30px;
    margin-left: 30px;
    display : flex;
}

#backpageimg {
    font-size: 30px;
}

section {
    display : block;
}

#contents > div {
    margin : 10px 0;
}

.mainContainer {
    display : flex;
    
}

.poster {
    width : 45%;
    min-width: none;
    padding : 10px;
}

#posterImg {
    width : 100%;
}
.movieInfoBox {
    width : 55%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

.movieInfoBox > div {
}

.titleBox {
    display: flex;
    justify-content: space-between;
}

#movieTitle {
    font-size: 30px;
    font-weight: bold;
}

#engBar > span {
    font-size: 14px;
    color: rgb(166, 162, 162);
}


tr {
}
td {
    padding: 1px;
    padding-right: 5px;
    
}

td > span{ 
    text-align: left;
}

.genreBox{
    display: flex;

}
.genreBox > div {
    margin : 5px;
    border-radius: 30px;
    height : 25px;
    background-color: rgb(137, 103, 99);
}
.genreBox > div > span {
    padding: 10px 13px;
}
.scoreBox {
    display : flex;
}
#scoreBar {
    border-radius: 8px;
    background-color: rgb(208, 208, 208);
    height : 50px;
    width : 75%;
}

#score {
    border-radius: 8px;
    background-color: springgreen;
    height : 50px;
    width : 92%;
    display: flex;
} 

#score > span {
    font-size: 18px;
    font-weight: bold;
    margin : auto;
    margin-left: 5px;
}
#wannasee {
    width : 25%;
    display : flex;
    justify-content: center;
}
#wannasee > a {
    margin : auto;
    color: pink;
    font-size: 35px;
}

.writeBox {
    display : flex;
}
#lifeMovie {
    background-color: rgb(41, 128, 185);
    border-radius: 10px;
    width : 50%;
    height: 60px;

    padding: 0 10px;
    margin: 0 10px;
    margin-left : 0px;
    
    color : white;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
#reviewWrite{
    background-color: rgb(206, 186, 158);
    border-radius: 10px;
    width : 40%;
    height: 60px;
    margin: 0 10px;
    color : white;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}








.bold2 {
    font-weight: bold;
    font-size: 20px;
}

.previewbox {
    margin : 10px;
    padding: 15px;
    background: rgb(57, 41, 41);
    border-radius: 6px;
}

.actorbox {
    display : flex;
    flex-direction: column;
    width : 15%;
}
.actorbox > span {
    text-align: center;
}


#director {
    width : 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.everyone {
    margin : 10px;
    display :flex;
    justify-content: space-between;
}